body, html {
    background-color: #fff4dbe2;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

.content {
    margin: 0 auto;
    width: 400px;
}

.navbar {
    background-color: #037ef3;
    padding: 8px;
    font-weight: bold;
}

.navbar span {
    padding: 30px;
}

.navbar a {
    margin: 15px;
    color: black;
    text-decoration: none;
}

.flashes {
    list-style-type: none;
    font-weight: bold;
    padding: 0;
}

.flash_error {
    color: #f85a40;
}
.flash_warning {
    color: #ffc845;
}
.flash_info {
    color: #30c39e;
}
