{% extends 'base.html' %}


{% block head %}
    <title>Booking for {{ competition['name'] }} || GUDLFT</title>
{% endblock %}


{% block body %}

    {% include 'partials/navbar.html' %}

    <div class='content'>
        <h2>{{competition['name']}}</h2>

        {% include 'partials/flash.html' %}

        <ul>
            <li>Remaining places : {{ competition['numberOfPlaces'] }}</li>
            {% if club['id'] in competition %}
                <li>Already booked by your club: {{ competition[club['id']] }}</li>
            {% endif %}
            <li>Club points: {{ club['points'] }}</li>
            <li>Available places for your club: {{ max_places }}</li>
        </ul>

        <form action="/purchasePlaces" method="post">
            <input type="hidden" name="club" value="{{club['name']}}">
            <input type="hidden" name="competition" value="{{competition['name']}}">
            <label for="places">How many places?</label><input type="number" name="places" value="1" min="1" max="{{ max_places }}"/>
            <button type="submit">Book</button>
        </form>
    </div>
{% endblock %}